.module1 * {
  box-sizing: border-box;
}
.module1 .slideshow-container {
  position: relative;
  margin: auto;
}
.module1 .menutrong {
  position: absolute;
  text-align: center;
}
.module1 .mySlides {
  display: none;
}
.module1 .prev,
.module1 .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: #151515;
  font-size: 60px;
  transition: 0.6s;
}
.module1 .next {
  right: 0;
}
.module1 .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.module1 .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.module1 .active,
.module1 .dot:hover {
  background-color: #717171;
}
.module1 .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  .module1 from {
    opacity: .2;
  }
  .module1 to {
    opacity: 1;
  }
}
@keyframes fade {
  .module1 from {
    opacity: .2;
  }
  .module1 to {
    opacity: 1;
  }
}
.module1 .btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.module1 .view {
  background-color: #151515;
}
.module1 .view:hover {
  background-color: #FAFAFA;
  color: #151515;
}
.module1 .dropbtn {
  color: #151515;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.module1 .dropdown {
  position: relative;
  display: inline-block;
}
.module1 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #151515;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.module1 .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.module1 .dropdown:hover .dropdown-content {
  display: block;
}
.module1 .search input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.module1 .search input[type=text]:focus {
  width: 100%;
}
.module1 #menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.module1 #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.module1 #overlay text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
