.modul8 h5 {
  color: #8f8f8f;
}
.modul8 h2 {
  text-align: center;
  color: black;
}
.modul8 h4 {
  text-align: center;
}
.modul8 button.supmit {
  text-align: center;
}
.modul8 div {
  display: block;
}
.modul8 .container {
  text-align: center;
}
.modul8 body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #989898;
  font-weight: 400;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
}
.modul8 .eltd-rf-field-holder input[type=text] {
  padding-left: 20px;
  padding-right: 45px;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #909090;
  font-size: 11px;
  letter-spacing: 1px;
  border: 2px solid #ebebeb;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modul8 .eltd-rf-holder {
  padding-left: 20px;
  padding-right: 45px;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #909090;
  font-size: 11px;
  letter-spacing: 1px;
  border: 2px solid #ebebeb;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modul8 .eltd-rf-field-holder select {
  padding-left: 20px;
  padding-right: 45px;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #909090;
  font-size: 11px;
  letter-spacing: 1px;
  border: 2px solid #ebebeb;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modul8 .modul51 {
  color: #8f8f8f;
}
.modul8 .eltd-btn {
  position: relative;
  top: 2px;
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
}
.modul8 button.eltd-btn,
.modul8 input[type=submit].eltd-btn {
  cursor: pointer;
}
.modul8 .eltd-btn {
  display: inline-block;
  position: relative;
  outline: 0;
  font-style: normal;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 16px 36px 20px;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
  -webkit-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out;
  -moz-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out;
  transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modul8 input,
.modul8 textarea,
.modul8 keygen,
.modul8 select,
.modul8 button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 13.3333px Arial;
}
.modul8 Inherited from div.eltd-rf-btn-holder
.eltd-rf-holder .eltd-rf-btn-holder {
  text-align: center;
  margin-top: 36px;
}
.modul8 .eltd-content-aligment-center {
  text-align: center;
}
.modul8 .row.t {
  background-color: black;
  color: #fff;
}
.modul8 .modul5 .row.r {
  color: #8f8f8f;
}
.modul8 .row.r {
  height: 20px;
  font-size: 13px;
  color: #8f8f8f;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background: black;
  color: #fff;
}
