.module-2 h5 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.module-2 h2 {
  text-align: center;
  font-size: 52px;
  font-family: "Playfair Display", serif;
  line-height: 1.3em;
  font-weight: 700;
}
.module-2 h4 {
  text-align: center;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0;
  color: #555;
  font-family: "Open Sans", sans-serif;
}
.module-2 img {
  padding: 40px 40px;
  width: 450px;
  height: 450px;
}
.module-2 p {
  padding: 40px 0px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #989898;
  font-weight: 400;
  display: block;
}
